div.computer-icon.icon
    div.computer-icon.icon__inner
        svg(viewbox=" 0 0 100 100").computer-icon-svg.icon-svg
            circle(cx="50%" cy="50%" r="50%" fill="#3d6cb0")
            circle(cx="50%" cy="50%" r="47%" fill="#3d6cb0" stroke="white" stroke-width="5%")
            rect( x="28%" y="30%" width="44%" height="28%" fill="#3d6cb0" stroke="white" stroke-width="4%" rx="3%")
            polyline( fill="white" points="22,72 26,64 74,64 78,72")