div.profile-icon.icon
    div.profile-icon__inner.icon__inner
        svg(viewbox=" 0 0 100 100").profile-icon-svg.icon-svg
            circle(cx="50%" cy="50%" r="50%" fill="#3d6cb0")
            circle(cx="50%" cy="50%" r="47%" fill="#3d6cb0" stroke="white" stroke-width="5%")
            circle(cx="50%" cy="42%" r="18%" fill="white" stroke="white" stroke-width="5%")
            rect(width="20%" height="12%" x="40%" y="56" rx="8" fill="white")
            rect(width="20%" height="8%" x="40%" y="72" rx="3" fill="white")