div.star-icon.icon
    div.star-icon__inner.icon__inner
        svg(viewbox=" 0 0 100 100").star-icon-svg.icon-svg
            circle(cx="50%" cy="50%" r="50%" fill="#3d6cb0")
            circle(cx="50%" cy="50%" r="47%" fill="#3d6cb0" stroke="white" stroke-width="5%")
            polyline( fill="white" points="49,14 70,82 14,42 86,42 29,82 50,10")