div.suitcase-icon.icon
    div.suitcase-icon.icon__inner
        svg.suitcase-icon-svg.icon-svg
            circle(cx="50%" cy="50%" r="50%" fill="#3d6cb0")
            circle(cx="50%" cy="50%" r="47%" fill="#3d6cb0" stroke="white" stroke-width="5%")
            circle( cx="50%" cy="40%" r="12%" fill="#3d6cb0" stroke="white" stroke-width="4%" )
            rect( x="24%" y="40%" width="52%" height="37%" fill="white")