include ./software-skill.pug
article.software
     header.title
        include ../Icons/computer-icon.pug
        h3.title__text software
        div.title__line
     section.software-skills
        +Software-skill('photoshop',92)
        +Software-skill('dreamweaver', 82)
        +Software-skill('illustrator', 69.5)
        +Software-skill('after effects', 62)
        +Software-skill('indesign', 57)
        +Software-skill('html&css3', 90)