include ./contact-field.pug
article.contact
    header.title
        include ../Icons/phone-icon.pug
        h3.title__text contact
        div.title__line
    section.contact-body
        +Contact('address', 'Main Street, City.')
        +Contact('e-mail', 'contact@domain.com')
        +Contact('phone ', '555-555-555')
        +Contact('website', 'www.yourweb.com')