color_blue = #3d6cb0;
@import  "../Components/title"

.contact-row{
    display flex;
    align-items center;
    padding 1.35em 0 1em;
    
    .contact-row__field{
       
        width 31%;
        text-transform uppercase;
        font-family MPBold;
        font-size 1.4em;
        color color_blue;
        line-height 1em;
        margin 0;
    }
    
    .contact-row__value{
        font-family MPRegular;
         font-size 1.4em;
         line-height 1em; 
         margin 0;
    }
}