
.contact-row{
    display flex;
    align-items center;
    padding 1em 0 1em;
    font-family: "Myriad Pro", Arial, sans-serif;
    font-style normal;
    
    .contact-row__field{
       
        width 31%;
        text-transform uppercase;
        font-weight 700;
        color color_blue;
        line-height 1em;
        margin 0;
    }
    
    .contact-row__value{
        font-weight 500;
        line-height 1em; 
        margin 0;
    }
}