article.contact
    section.title
        include ../Icons/phone-icon.pug
        h3.title__text contact
        div.title__line
    section.contact-body
        section.contact-row
            h3.contact-row__field address 
            h4.contact-row__value Main Street, City.
        section.contact-row
            h3.contact-row__field e-mail 
            h4.contact-row__value contact@domain.com
        section.contact-row
            h3.contact-row__field phone 
            h4.contact-row__value 555-555-555
        section.contact-row
            h3.contact-row__field website 
            h4.contact-row__value www.yourweb.com