include ./contact-field.pug
article.contact
    header.title
        +Title('contact', './Icons/phone.svg')
    section.contact-body
        +Contact('address', 'Main Street, City.')
        +Contact('e-mail', 'contact@domain.com')
        +Contact('phone ', '555-555-555')
        +Contact('website', 'www.yourweb.com')