color_gray = rgb(230, 230, 230);
color_blue = #3d6cb0;

.skills .skills-body{
    
    .skills-body-row{
        
        .skills-body-row__text{
            
            text-align center;
            font-family MPRegular;
            font-size: 1.75em;
            text-transform uppercase;
            margin-bottom 0.3em;
        }
        
         .skills-body-row__points{
                width 80%;
                margin auto;
                display flex;
                justify-content space-around;
                
                
                .skills-body-row__point{
                    
                    background-color color_gray
                    width 5%;
                    padding-top 5%;
                    border-radius 100%;
                }
                
                .skills-body-row__point_active{
                     background-color color_blue;
                }
            }
    }
 
}