article.skills
    section.title
        include ../Components/Skills-icon/skills-icon.pug
        h3.title__text skills
        div.title__line
    section.skills-body
        section.skills-body-row
            h2.skills-body-row__text creative
            div.skills-body-row__points
                div.skills-body-row__point.skills-body-row__point_active
                div.skills-body-row__point.skills-body-row__point_active
                div.skills-body-row__point.skills-body-row__point_active
                div.skills-body-row__point.skills-body-row__point_active
                div.skills-body-row__point.skills-body-row__point_active
                div.skills-body-row__point.skills-body-row__point_active
                div.skills-body-row__point.skills-body-row__point_active
                div.skills-body-row__point.skills-body-row__point_active
                div.skills-body-row__point.skills-body-row__point_active
                div.skills-body-row__point
                div.skills-body-row__point
                div.skills-body-row__point
        section.skills-body-row
            h2.skills-body-row__text teamwork
            div.skills-body-row__points
                div.skills-body-row__point.skills-body-row__point_active
                div.skills-body-row__point.skills-body-row__point_active
                div.skills-body-row__point.skills-body-row__point_active
                div.skills-body-row__point.skills-body-row__point_active
                div.skills-body-row__point.skills-body-row__point_active
                div.skills-body-row__point.skills-body-row__point_active
                div.skills-body-row__point.skills-body-row__point_active
                div.skills-body-row__point.skills-body-row__point_active
                div.skills-body-row__point.skills-body-row__point_active
                div.skills-body-row__point.skills-body-row__point_active
                div.skills-body-row__point.skills-body-row__point_active
                div.skills-body-row__point
        section.skills-body-row
            h2.skills-body-row__text innovate
            div.skills-body-row__points
                div.skills-body-row__point.skills-body-row__point_active
                div.skills-body-row__point.skills-body-row__point_active
                div.skills-body-row__point.skills-body-row__point_active
                div.skills-body-row__point.skills-body-row__point_active
                div.skills-body-row__point.skills-body-row__point_active
                div.skills-body-row__point.skills-body-row__point_active
                div.skills-body-row__point
                div.skills-body-row__point
                div.skills-body-row__point
                div.skills-body-row__point
                div.skills-body-row__point
                div.skills-body-row__point
        section.skills-body-row
            h2.skills-body-row__text communication
            div.skills-body-row__points
                div.skills-body-row__point.skills-body-row__point_active
                div.skills-body-row__point.skills-body-row__point_active
                div.skills-body-row__point.skills-body-row__point_active
                div.skills-body-row__point.skills-body-row__point_active
                div.skills-body-row__point.skills-body-row__point_active
                div.skills-body-row__point.skills-body-row__point_active
                div.skills-body-row__point.skills-body-row__point_active
                div.skills-body-row__point.skills-body-row__point_active
                div.skills-body-row__point.skills-body-row__point_active
                div.skills-body-row__point.skills-body-row__point_active
                div.skills-body-row__point.skills-body-row__point_active
                div.skills-body-row__point