include ./skill-points.pug
article.skills
    section.title
        include ../Icons/skills-icon.pug
        h3.title__text skills
        div.title__line
    section.skills-body
        +Skill-points('creative', 9, 12)
        +Skill-points('teamwork', 11, 12)
        +Skill-points('innovate', 6, 12)
        +Skill-points('communication', 11, 12)