@import  "../CSS-components/title.styl"
@import "../Icons/icon.styl"


.profile{
    
    
    .profile__description{
      
        margin 0;
        font-family: MPRegular; 
        line-height 1.2em;
        font-size 1.05em;
        
        span{
            
            font-family: MPBold; 
        }
    }  
}
