

.profile{
    
    
    .profile__description{
      
        margin 0;
        font-family: "Myriad Pro", Arial, sans-serif;
        font-style normal;
        font-weight 500; 
        line-height 1.2em;
        font-size 1.05em;
        
        span{
            
            font-weight 700; 
        }
    }  
}
