.portrait
    text-align center
    position relative
    font-family "Myriad Pro", Arial, sans-serif
    font-style normal
       
    .icon    
        width 53%
        margin auto
      
    &__first-name,
    &__last-name,
    &__proffesion
        text-transform uppercase
        line-height 0.9em
        padding 0
        margin 0
    
    &__first-name
        font-size 1em
        margin-top 8%
        font-weight 300
       
    &__last-name
        font-size 1.15em
        font-weight 700

    &__proffesion
        font-size 0.45em
        font-weight 700
        margin-top 0.6em


  