article.portrait
    div.icon
        div.icon__inner
            img(src='./icons/circle.svg')
    h3.portrait__first-name name here
    h3.portrait__last-name surname
    h4.portrait__proffesion graphic designer