@import "./Portrait/portrait.styl"
@import "./Components/Circle/circle.styl"
@import "./Profile/profile.styl"
@import "./Components/Profile-icon/profile-icon.styl"
@import "./Contact/contact.styl"

@import "./Skills/skills.styl"

 @font-face {
    font-family: MPLightSemiExt;
    src: url(./Fonts/MyriadPro-LightSemiExt.ttf); 
   }
 @font-face {
    font-family: MPBold;
    src: url(./Fonts/MyriadPro-Bold.ttf); 
   }

 @font-face {
    font-family: MPRegular;
    src: url(./Fonts/MyriadPro-Regular.ttf); 
   }

   html, body{
       margin 0;
       padding 0;
       padding-top 0.2em;
   }

.container{
   
    width 1220px;
    margin: auto
    margin-bottom 3em;
}

.portrait{
 
    max-width:39%;
    margin-bottom 5.4em;
}

.profile{
   
    max-width: 37%;
    margin-bottom 3em;
}

.contact{
     max-width: 37%;
      margin-bottom 2.3em;
}

.skills{
     max-width: 37%;
}