doctype !html
html
    head
    meta(charset = 'utf-8')
    title Webpack app
    body
        div.container
            section.container-left
                include ./Portrait/portrait.pug
                include ./Profile/profile.pug
                include ./Contact/contact.pug
                include ./Skills/skills.pug
            section.container-right
                include ./Education/education.pug
                include ./Experience/experience.pug
                include ./Software/software.pug